nav {
  background-color: #7a7777;
  color: white;
  padding: 10px;
  text-align: center;
}
.layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.item {
  margin: 1%;
  background-color: rgb(232, 250, 221);
  height: 187px;
  width: 20%;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
}
.item:hover {
  scale: 1.02;
  background-color: rgb(177, 214, 152);
}

.itemButton {
  background-color: rgb(255, 220, 96);
}
.itemInCart {
  display: flex;
  padding-top: 4%;
  margin-left: 50px;
  font-size: 10px;
  margin: 1%;
  background-color: rgb(255, 220, 96);
  height: 150px;
  text-align: center;
  border: 1px solid black;
}

.itemList {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.Cart {
    /* margin-left: 3%;
    margin-top: 3%;
    width:20%;
    height: 800px;
    border: 1px solid  black;
    background-color: rgb(200, 232, 181);
    text-align: center;
    
    overflow: auto; */
}
.itemBattens {
    width: 35%;
}
.amountInCart {
    width: 30%;
    margin-top: 10%;
    font-size: xx-large;
}
.itemText {
    width: 50%;
    font-size: xx-large;
}

.CartList {
    justify-content: center;
    margin-top: 5%;
    overflow-y: auto;
    height: 600px

}
.total {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: rgba(53, 128, 6, 1);
  bottom: 0;
}
.deleteAll {
  width: 100%;
  height: 35px;
}
.continer {
  position:relative;
  margin-left: 3%;
  margin-top: 3%;
  width: 20%;
  height: 800px;
  border: 1px solid black;
  text-align: center;
 
}
.categories {
  margin: 1%;
  background-color: rgb(232, 250, 221);
  text-align: center;
  border: 1px solid black;
}
.categories,
img {
  width: 360px;
  height: 320px;
}
.img_ULj {
  width: 100px;
  height: 100px;
}
.allCategories {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.continer1.animate {
  animation: slideIn 0.5s ease-out;
}
.continer1 {
  width: 100%;
}
